<!-- PAGE CONTAINER-->
<div class="page-container2">

<!-- MAIN CONTENT-->

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        {{>default/messages}}
                        <h2 class="title-1">overview</h2>

                    </div>
                </div>
            </div>
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div class="text">
                                    <span> <strong>Internship Applications</strong> </span>
                                    <h2>{{totalInternshipApplications}}</h2>

                                </div>
                            </div>
                            <div class="overview-chart">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="text">
                                    <span> <strong>Interns</strong> </span>
                                    <h2>{{totalInterns}}</h2>

                                </div>
                            </div>
                            <div class="overview-chart">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="text">
                                    <span> <strong>Students</strong> </span>
                                    <h2>{{totalStudents}}</h2>

                                </div>
                            </div>
                            <div class="overview-chart">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="text">
                                    <span> <strong>Intern Exeat Requests</strong> </span>
                                    <h2>{{totalInternExeatRequests}}</h2>
                
                                </div>
                            </div>
                            <div class="overview-chart">
                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="text">
                                    <span> <strong>Student Exeat Requests</strong> </span>
                                    <h2>{{totalStudentExeatRequests}}</h2>
                
                                </div>
                            </div>
                            <div class="overview-chart">
                
                            </div>
                        </div>
                    </div>
                </div>

                
               
              
            </div>



        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->